
*{ margin:0; padding:0; list-style:none;}
.sidenav{ font-size:18px;}
a{ text-decoration:none; color:#87a8fe;z-index: 1000;}
a:hover{ text-decoration:none;}
/* 本案例代码begin */
/*一级菜单*/
.left_nav{ width:200px; height:100%;background:white;text-align:center;}
.oneli{height:50px;background-color:white;}

.left_nav  li a.nav_left{text-align:left;text-indent:3em;width:200px; height:29px; line-height:29px; display:block; white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.left_nav  li a.nav_left:hover{text-decoration:none;}

.oneli a{padding-top: 10px;}
.oneli {border-radius: 10px;margin-left: 10px;margin-right: 10px;}
/*背景渐变*/
.oneli:hover{background: linear-gradient(to right, #5e8dfe , #45bafc);}
.oneli a:hover{color: white;}

/*二级菜单*/
.left_nav  li .nav_right{ width:160px;position:relative; left:190px; top:-50px;padding-bottom: 10px; display:none;background-color: #6ac7fc;}
.left_nav  li .nav_right a{ width:160px; line-height:25px; color:white; display:block; margin-top:10px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}

/*三级菜单*/
.left_nav  li .nav_right .three {width:160px; position:relative;display:none;padding-bottom:9px;background-color: #bee4f9;}
.left_nav  li .nav_right .three a {width:160px; line-height:20px; text-align:center;color: #8D8D8D; display:block; margin-top:10px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; }

/*左侧图标*/
.ico-homePage{background: no-repeat url("../images/homepage.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-basicInformation{background: no-repeat url("../images/basic.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-customer{background: no-repeat url("../images/speople.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-service{background: no-repeat url("../images/serve.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-equipmentAndAsset{background: no-repeat url("../images/property.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-maintenance{background: no-repeat url("../images/maintain.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-statement{background: no-repeat url("../images/statement.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-working{background: no-repeat url("../images/working.png");background-size: 24px 24px;background-position:20px 11px;}
.ico-system{background: no-repeat url("../images/system.png");background-size: 24px 24px;background-position:20px 11px;}
