<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunwei.som.mapper.MaintenanceMapper">
	<resultMap id="BaseResultMap" type="com.xunwei.som.pojo.Maintenance">
		<result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
		<result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
		<result column="REPAIR_MAN" jdbcType="VARCHAR" property="repairMan" />
		<result column="REPAIR_SERVICE" jdbcType="VARCHAR" property="repairService" />
		<result column="MAIN_FREQUENCY" jdbcType="VARCHAR" property="mainFrequency" />
		<result column="RESPONSIBLE_ENGINEER" jdbcType="VARCHAR"
			property="responsibleEngineer" />
		<result column="RESPONSIBLE_ID" jdbcType="VARCHAR" property="responsibleId" />
		<result column="COMP_NAME" jdbcType="VARCHAR" property="compName" />
		<result column="RESERVE_ENGINNER" jdbcType="VARCHAR" property="reservEngineer" />
		<result column="RESERVE_ENGINNER_ID" jdbcType="VARCHAR"
			property="reservEngineerId" />
		<result column="MACH_CODE" jdbcType="VARCHAR" property="machCode" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="LAST_TIME" jdbcType="TIMESTAMP" property="lastTime" />
		<result column="MAINTENANCE_STATE" jdbcType="INTEGER" property="maintenanceState" />
		<result column="MATERIAL_MODEL" jdbcType="VARCHAR" property="materialModel" />
		<result column="MATERIAL_NUMBER" jdbcType="VARCHAR" property="materialNumber" />
		<result column="COVERAGE" jdbcType="VARCHAR" property="coverage" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<collection property="device" ofType="com.xunwei.som.pojo.Device">
			<id column="ID" jdbcType="INTEGER" property="Id" />
			<result column="MACH_CODE" jdbcType="VARCHAR" property="machCode" />
			<result column="DEV_NAME" jdbcType="VARCHAR" property="devName" />
			<result column="DEVICE_BRAND" jdbcType="VARCHAR" property="deviceBrand" />
			<result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
			<result column="DEVICE_BOUND" jdbcType="VARCHAR" property="deviceBound" />
			<result column="DEVICE_TYPE" jdbcType="VARCHAR" property="deviceType" />
			<result column="OUTPUT_SPEC" jdbcType="VARCHAR" property="outputSpec" />
			<result column="ES_NUMBER" jdbcType="VARCHAR" property="esNumber" />
			<result column="CUST_AREA" jdbcType="VARCHAR" property="custArea" />
			<result column="SERVICE_AREA" jdbcType="VARCHAR" property="serviceArea" />
			<result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
			<result column="SERVICE_LEVEL" jdbcType="VARCHAR" property="serviceLevel" />
			<result column="CUST_LINKMAN" jdbcType="VARCHAR" property="custLinkman" />
			<result column="LINKMAN_PHONE" jdbcType="VARCHAR" property="linkmanPhone" />
			<result column="RESPONSIBLE_ENGINEER" jdbcType="VARCHAR"
				property="responsibleEngineer" />
			<result column="RESPONSIBLE_ENGINEER_ID" jdbcType="VARCHAR"
				property="responsibleEngineerID" />
			<result column="RESERVE_ENGINNER" jdbcType="VARCHAR" property="reserveEnginner" />
			<result column="RESERVE_ENGINNER_ID" jdbcType="VARCHAR"
				property="reserveEnginnerID" />
			<result column="BW_READER" jdbcType="VARCHAR" property="bwReader" />
			<result column="COLOR_READER" jdbcType="VARCHAR" property="colorReader" />
			<result column="INSTALLED_TIME" jdbcType="DATE" property="installedTime" />
			<result column="ASSET_ATTR" jdbcType="VARCHAR" property="assetAttr" />
			<result column="ASSET_NUMBER" jdbcType="VARCHAR" property="assetNumber" />
			<result column="CHANGE_TYPE" jdbcType="VARCHAR" property="changeType" />
			<result column="LOCATION" jdbcType="VARCHAR" property="location" />
			<result column="CONTRACT_NO" jdbcType="VARCHAR" property="contractNo" />
			<result column="SERCET" jdbcType="VARCHAR" property="secret" />
			<result column="SERCET_LEVEL" jdbcType="VARCHAR" property="secretLevel" />
			<result column="ASSET_CLASS" jdbcType="VARCHAR" property="assetClass" />
			<result column="SPECIFICATIONS" jdbcType="VARCHAR" property="specifications" />
			<result column="HOLD_MAN" jdbcType="VARCHAR" property="holdMan" />
			<result column="HOLD_DEPARTMENT" jdbcType="VARCHAR" property="holdDepartment" />
			<result column="IP" jdbcType="VARCHAR" property="IP" />
			<result column="ASSET_STATUS" jdbcType="VARCHAR" property="assetStatus" />
		</collection>
	</resultMap>
	<insert id="insert" parameterType="com.xunwei.som.pojo.Maintenance">
		insert into maintenance
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contractCode != null">
				CONTRACT_CODE,
			</if>
			<if test="custName != null">
				CUST_NAME,
			</if>
			<if test="repairMan != null">
				REPAIR_MAN,
			</if>
			<if test="repairService != null">
				REPAIR_SERVICE,
			</if>
			<if test="mainFrequency != null">
				MAIN_FREQUENCY,
			</if>
			<if test="responsibleEngineer != null">
				RESPONSIBLE_ENGINEER,
			</if>
			<if test="responsibleId != null">
				RESPONSIBLE_ID,
			</if>
			<if test="compName != null">
				COMP_NAME,
			</if>
			<if test="reservEngineer != null">
				RESERVE_ENGINNER,
			</if>
			<if test="reservEngineerId != null">
				RESERVE_ENGINNER_ID,
			</if>
			<if test="machCode != null">
				MACH_CODE,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
			<if test="maintenanceState != null">
				MAINTENANCE_STATE,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contractCode != null">
				#{contractCode,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				#{custName,jdbcType=VARCHAR},
			</if>
			<if test="repairMan != null">
				#{repairMan,jdbcType=VARCHAR},
			</if>
			<if test="repairService != null">
				#{repairService,jdbcType=VARCHAR},
			</if>
			<if test="mainFrequency != null">
				#{mainFrequency,jdbcType=VARCHAR},
			</if>
			<if test="responsibleEngineer != null">
				#{responsibleEngineer,jdbcType=VARCHAR},
			</if>
			<if test="responsibleId != null">
				#{responsibleId,jdbcType=VARCHAR},
			</if>
			<if test="compName != null">
				#{compName,jdbcType=VARCHAR},
			</if>
			<if test="reservEngineer != null">
				#{reservEngineer,jdbcType=VARCHAR},
			</if>
			<if test="reservEngineerId != null">
				#{reservEngineerId,jdbcType=VARCHAR},
			</if>
			<if test="machCode != null">
				#{machCode,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="maintenanceState != null">
				#{maintenanceState,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="select" resultType="com.xunwei.som.pojo.Maintenance">
		select * from maintenance
	</select>

	<select id="selectmaintenance" resultMap="BaseResultMap">
		SELECT
		m.*,d.*
		FROM
		maintenance m
		LEFT JOIN device d
		ON
		m.MACH_CODE=d.MACH_CODE
		<where>
			<if test="custName!=null and custName!=''">
				AND CUST_NAME like concat('%',#{custName},'%')
			</if>
			<if test="compName!=null and compName!=''">
				AND COMP_NAME like concat('%',#{compName},'%')
			</if>
			<if test="identifier!=null and identifier!=''">
				AND COMP_NAME IN ('广州乐派数码科技有限公司','行业客户部','系统推进部')
			</if>
			<if test="staffName!=null and staffName!=''">
				AND RESPONSIBLE_ENGINEER like
				concat('%',#{staffName},'%')
			</if>
			<if test="machCode!=null and machCode!=''">
				AND MACH_CODE =#{machCode}
			</if>
			<if test="startDate!=null and startDate!=''">
				AND CREATE_DATE &gt;= #{startDate}
			</if>
			<if test="endDate!=null and endDate!=''">
				AND CREATE_DATE &lt;= #{endDate}
			</if>
		</where>
		<if test="page!=null and limit!=null">
			limit #{page},#{limit}
		</if>
	</select>

	<select id="selectByCycle" resultMap="BaseResultMap">
		SELECT
		m.*,d.*
		FROM
		maintenance m
		LEFT JOIN device d
		ON
		m.MACH_CODE=d.MACH_CODE
		<where>
			<if test="Cycle!=null and Cycle!=''">
				and MAIN_FREQUENCY=#{Cycle}
			</if>
			<if test="responsibleId!=null and responsibleId!=''">
				and RESPONSIBLE_ID=#{responsibleId}
			</if>
			<if test="compName!=null and compName!=''">
				and COMP_NAME=#{compName}
			</if>
			<if test="custName!=null and custName!=''">
				and CONTRACT_CODE=#{custName}
			</if>
		</where>
	</select>

	<update id="updateMaintenance">
		update maintenance
		<set>
			<if test="state!=null">
				MAINTENANCE_STATE=#{state},
			</if>
			<if test="lastTime!=null and lastTime!=''">
				LAST_TIME=#{lastTime},
			</if>
		</set>
		where CONTRACT_CODE=#{contractNo} and MACH_CODE=#{machCode}
	</update>


	<select id="selectOneMaintenance" resultMap="BaseResultMap">
		select * from maintenance
		<where>
			<if test="contractNo!=null">
				AND CONTRACT_CODE=#{contractNo}
			</if>
			<if test="machCode!=null">
				AND MACH_CODE=#{machCode}
			</if>
		</where>
	</select>

	<select id="selectByContract" resultMap="BaseResultMap">
		SELECT * FROM
		maintenance WHERE RESPONSIBLE_ID =#{responsibleId} GROUP BY
		CONTRACT_CODE
	</select>

	<update id="upDateMaintenance" parameterType="com.xunwei.som.pojo.Maintenance">
		update maintenance
		<set>
			<if test="contractCode != null">
				CONTRACT_CODE=#{contractCode,jdbcType=VARCHAR},
			</if>
			<if test="custName != null">
				CUST_NAME=#{custName,jdbcType=VARCHAR},
			</if>
			<if test="repairMan != null">
				REPAIR_MAN=#{repairMan,jdbcType=VARCHAR},
			</if>
			<if test="repairService != null">
				REPAIR_SERVICE=#{repairService,jdbcType=VARCHAR},
			</if>
			<if test="mainFrequency != null">
				MAIN_FREQUENCY=#{mainFrequency,jdbcType=VARCHAR},
			</if>
			<if test="responsibleEngineer != null">
				RESPONSIBLE_ENGINEER=#{responsibleEngineer,jdbcType=VARCHAR},
			</if>
			<if test="responsibleId != null">
				RESPONSIBLE_ID=#{responsibleId,jdbcType=VARCHAR},
			</if>
			<if test="compName != null">
				COMP_NAME=#{compName,jdbcType=VARCHAR},
			</if>
			<if test="reservEngineer != null">
				RESERVE_ENGINNER=#{reservEngineer,jdbcType=VARCHAR},
			</if>
			<if test="reservEngineerId != null">
				RESERVE_ENGINNER_ID=#{reservEngineerId,jdbcType=VARCHAR},
			</if>
			<if test="machCode != null">
				MACH_CODE=#{machCode,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE=#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastTime != null">
				LAST_TIME=#{lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="maintenanceState != null">
				MAINTENANCE_STATE=#{maintenanceState,jdbcType=VARCHAR},
			</if>
			<if test="materialModel != null">
				MATERIAL_MODEL=#{materialModel,jdbcType=VARCHAR},
			</if>
			<if test="materialNumber != null">
				MATERIAL_NUMBER=#{materialNumber,jdbcType=VARCHAR},
			</if>
			<if test="coverage != null">
				COVERAGE=#{coverage,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK=#{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where MACH_CODE=#{machCode,jdbcType=VARCHAR}
	</update>

	<delete id="deleteMaintenance">
		delete from maintenance where MACH_CODE=#{machCode,jdbcType=VARCHAR}
	</delete>


</mapper>