<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunwei.som.mapper.ParameterSettingMapper">
  <resultMap id="BaseResultMap" type="com.xunwei.som.pojo.permissions.ParameterSetting">
    <id column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
  </resultMap>
  <sql id="Base_Column_List">
    parameter_name, parameter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select *
    from parameter_setting
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from parameter_setting
    where parameter_name = #{parameterName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xunwei.som.pojo.permissions.ParameterSetting">
    insert into parameter_setting (parameter_name, parameter)
    values (#{parameterName,jdbcType=VARCHAR}, #{parameter,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xunwei.som.pojo.permissions.ParameterSetting">
    insert into parameter_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterName != null">
        parameter_name,
      </if>
      <if test="parameter != null">
        parameter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterName != null">
        #{parameterName,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null">
        #{parameter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunwei.som.pojo.permissions.ParameterSetting">
    update parameter_setting
    <set>
      <if test="parameter != null">
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
    </set>
    where parameter_name = #{parameterName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunwei.som.pojo.permissions.ParameterSetting">
    update parameter_setting
    set parameter = #{parameter,jdbcType=VARCHAR}
    where parameter_name = #{parameterName,jdbcType=VARCHAR}
  </update>
</mapper>